.events {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .dropdown {
            display: flex;
            align-items: center;
            gap: 8px;

            .label {
                font-weight: 600;
            }
        }
    }

    .list {
        border: 1px solid red;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
    }
}
