.container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;

        .nextBtn {
            margin-left: auto;
        }
    }

    .month {
        h2 {
            margin: 0 20px;
            border-bottom: 2px solid var(--primary);
        }
    }
}
