.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &.isolatedView {
        max-width: 300px;
        margin: 0 auto;
    }

    .actions {
        display: flex;
        gap: 20px;
    }

    .eventsContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        .noEvents {
            text-align: center;
            margin: 40px 0;
        }
    }
}
