.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top: 3px solid black;

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nextBtn {
            margin-left: auto;
        }
    }

    .days {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
