.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
    padding: 32px 20px;

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: flex-start;
        gap: 10px;
    }
}
